@model Core.Models.EntityModels.SubCategory

@{
    ViewBag.Title = "Details";
    ViewBag.PageTitle = "Sub Category";
    ViewBag.SmallText = "Details";
    Layout = "~/Views/Shared/_AdminPanel.cshtml";
}

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubCategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubCategoryName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SubCategoryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
