@model IEnumerable<Core.Models.EntityModels.SubCategory>

@{
    ViewBag.Title = "Index";
    ViewBag.PageTitle = "Sub Category";
    ViewBag.SmallText = "Home";
    Layout = "~/Views/Shared/_AdminPanel.cshtml";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-responsive table-bordered table-hover">
    <tr class="success">
        <th>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubCategoryName)
        </th>
        <th>Action</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubCategoryName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SubCategoryId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SubCategoryId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SubCategoryId })
        </td>
    </tr>
}

</table>
